<div class="flex justify-center items-center w-full h-dvh">
  <form [formGroup]="form" class="flex flex-col items-center">
    <h1>Login</h1>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
      />
      @if (email.errors?.['required']) {
        <mat-error>Email is required</mat-error>
      }
      @if (email.errors?.['email']) {
        <mat-error>Invalid email</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
      />
      @if (password.errors?.['minLength']) {
        <mat-error>Password must be at least 8 characters long.</mat-error>
      }
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
      (click)="onSubmit()"
    >
      Login
    </button>
  </form>
</div>
